
*{
    margin: 0%;
    padding: 0%;
}
body 
{
    font-family: Arial, sans-serif;
    text-align: center;
}
#coin-image 
{
    margin-top: 140px;
    width: 200px;
    height: 200px;
    transition: transform .5s ease;
    
}

#arrowimg
{
    height: 30px;
    width: 30px;
    display: flex;

}
#arrowanc
{
   
   display: inline-block;
   text-decoration: none;
   color: black;
   position: absolute;
   left:10px ;
   top: 15px;
   align-items: center;
}
h1{
    background-color: yellow;
    color: black;
}
.arrowdiv
{
    background-color: yellow;
    display: flex;
    justify-content: center;
    font-size: 27px;
    text-align: center;
}