*{
    margin: 0%;
    padding: 0%;    
    background-color: rgb(188, 211, 212);
}
.head
{  
    background-color: rgb(218, 218, 24);
    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: rgb(0, 0, 255);
}

div{
    padding-left: 50px;
    margin-top: 50px;
}
.a{
   
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    display: inline;
  

}

.a:hover{
    background-color: rgb(111, 255, 0);
    color:black;
    transition: transform .5s;
    transform: scale(1.1);

}
.ul{
    font-size: 20px;
    margin-top: 10px;
    background: linear-gradient(

45deg,

red,

blue,

green,

orange ,
 
black

);
background-clip: text;

-webkit-text-fill-color: transparent;

/* display: inline-block; */

}
.home
{  display: inline;
    text-decoration: none;
    background-color: black ;
    color: yellow;
    position: absolute;
   padding: 0px 8px;
   margin: 0px 41%;

   border-radius: 8px;
}
.home:hover{
    transition: transform .5s;
    transform: scale(1.1);
}
@media(max-width:567px)
{
    .a {
        text-decoration: none;
        font-size: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
        /* border-radius: 5px;   */
        margin-right: 10px;
        /* padding: 10px;   */
        
    }
    .ul{
        font-size: 20px;
        /* margin: 7px; */
    }
    .home
{  display: inline;
    text-decoration: none;
    background-color: black ;
    color: yellow;
    position: absolute;
   padding: 0px 8px;
   margin: 0px 35%;

   border-radius: 8px;
}
}