*{
    padding:0%;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}
nav{
background-color: #0082e6;
height: 80px;
width: 100%;
}
label.logo
{
color: white;
font-size:35px;
line-height:80px;
padding: 0 100px;
font-weight: bold;
cursor: pointer;
}
nav ul{
    float: right;
   margin-right: 20px; 
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 15px;
    border: 2px solid rgb(207, 190, 190);
    

 }
 a:hover
{
    background: #f4e9e9;
    color: black;
    transition: .5s;    
}
div
{  
    background-color: black ;
    color: white ;
    line-height: 50px;
}
div a{
    color: rgb(255, 255, 255);
    margin: 0 5px;
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 15px;
    border: 2px solid rgb(185, 167, 167);
    
   
}

nav img {
    height: 50px;
    width: 50px;
    margin:  13px -380px;
    border-radius:56px;
    
}
