*{
  padding:0%;
  margin:0;
  text-decoration: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
background-color: #0082e6;
height: 80px;
width: 100%;
padding: 0px 13px;  

}
label.logo
{
color: white;
font-size:35px;
line-height:80px;
/* text-align: center; */
font-weight: bold;
cursor: pointer;

}
.lp{
  height: 50px;
  width: 50px;
align-items: center;
margin: 6px 0;
 border-radius: 50px;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 10px;

}
nav ul li a{
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 15px;
  border: 2px solid rgb(207, 190, 190);
  

}
a:hover
{
  background: #f4e9e9;
  color: black;
  transition: .5s;
 
  
}
div
{  
  background-color: black ;
  color: white ;
  line-height: 50px;
}
div a{
  color: rgb(255, 255, 255);
  /* margin: 0 40px; */
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 15px;
  border: 2px solid rgb(185, 167, 167);
  
 
}
.checkbtn
{
font-size: 30px;
color: white;
float: right;
line-height: 80px;
margin-right: 40px;
cursor: pointer;
display: none;
}
#check
{
  display: none;
}
@media(max-width:952px)
{
  lable.logo{
      font-size: 30px;
      padding-left: 50px;
  }
  nav ul li a{
      font-size: 16px;
  }
}
@media(max-width:658px)
{
  lable.logo{
      font-size: 20px;
  }
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: #2c3e50;
      top: 80px;
      left:-100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li
  {
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a
  {
      font-size: 20px;
    
  }
  a:hover,a.active{
      background: none;
      color: #0082e6;
  }
  #check:checked ~ ul{
      left: 0;

  }
}