* {
  padding: 0%;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  background-color: #0692fd;
  height: 80px;
  width: 100%;
}
.logo_div {
  display: flex; 
  justify-content: start;
  align-items: center;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
  cursor: pointer;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
}
nav ul li a 
{
  color: #ffffff ;
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 14px;
  border-radius:  75px;
  border: 2px solid rgb(207, 190, 190);
}
a:hover {
  background: #ffffff;
  color: black;
  transition: 0.5s;
}
.navbar ul li a:hover 
{
  display: inline-block;
  transform: scale(1.2);
}
.navbar ul 
{
  height: 45px;
  display: flex;
  align-items: center;
}
div 
{
  background-color: black;
  color: white;
  line-height: 50px;
}
div a {
  color: rgb(255, 255, 255);
  margin: 0 5px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 75px;
  border: 2px solid rgb(185, 167, 167);
  
}

nav img {
  height: 50px;
  width: 50px;
  margin: 13px -380px;
  border-radius: 56px;
  
}
