
        body {
            background-color: #FCFBF4;
            margin: 0;
            padding: 0;
            font-family: "Roboto", sans-serif;
        }

        table,
        td,
        tr {
            border: none;
        }

        .main {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box {
            width: auto;
            height: 720px;
            padding: 0 1rem 0 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 3px solid blue;
            background-color: rgb(222, 188, 15);
            border-radius: 2rem;
            box-shadow: 5px 5px 8px black;
        }

        h1 {
            background-color: rgb(0, 0, 0);
            padding: 20px;
            color: yellow;
            border-radius: 70px;
            margin: 10px 0px;
            cursor: pointer;
        }

        #yy {
            color: white;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .logo {
            height: 80px;
            border-radius: 100px;
            align-items: center;
            margin-right: 10px;
        }

        h1 {
            text-align: left;
            justify-content: right;
            color: #333;
            height: 80px;
            border: solid rgb(255, 255, 255);
        }

        .name {
            position: absolute;
            margin-left: 0px;
            padding-top: 90px;
            margin-top: -60px;
            font-size: 20px;
            cursor: pointer;
        }

        form {
            margin-top: 20px;
            margin: 30px 30px;
            color: rgb(0, 0, 0);
        }

        label {
            display: block;
        }

        input {
            width: 100%;
            padding: 4px;
            margin: 10px 10px;
            border-radius: 30px;
            background-color: rgb(150, 200, 241);
        }

        education_box1 table th,
        td {
            /* border: 1px solid #000; */
            text-align: center;
            padding: 10px 20px 10px 20px;
        }

        #sgpabtn {
            background-color: #4caf50;
            color: #fff;
            padding: 6px 10px 6px 10px;
            border: solid rgb(255, 255, 255);
            border-radius: 20px;
            cursor: pointer;
            background-color: black;
            margin-top: .5rem;
            margin-bottom: .5rem;
        }

        .home {
            text-decoration: none;
            background-color: black;
            color: yellow;
            position: absolute;
            padding: 0px 8px;
            margin: -5px 80%;
            border-radius: 20px;
            float: right;
            margin-right: 70px;
            border: solid white 2px;
        }

        .home1 {
            text-decoration: none;
            background-color: black;
            color: yellow;
            position: absolute;
            padding: 0px 8px;
            margin: -5px 8%;
            border-radius: 20px;
            display: inline-block;
            border: solid white 2px;
        }

        .home1:hover {
            transition: transform 0.5s;
            transform: scale(1.05);
        }

        .home:hover {
            transition: transform 0.5s;
            transform: scale(1.05);
        }

        .auto {
            margin: -60px 30px;
        }

        input:hover {
            transition: transform 0.5s;
            transform: scale(1.1);
        }

        h1:hover {
            transition: transform 0.5s;
            transform: scale(1.01);
        }

        #result {
            margin-top: 20px;
        }

        #sgpaValue {
            font-size: 18px;
            color: #333;
        }


        #fs {
            background-color: rgb(188, 144, 229);
        }

        #noshow {
            display: none;
        }

        #it_sem4 {
            padding-top: 1rem;
            text-align: center;
            font-size: 2rem;
            color: var(--secondary-color);
        }
        #clicksound{
            display: none;
        }