*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
.ppt_container-for-notes-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 35px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
.ppt1 {
    background-color: #fff;
    width: 250px;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    cursor: pointer;
  }
  .ppt_container-for-notes-section div:hover {
    transform: scale(1.04);
    transition: ease-in;
    transition-duration: 0.2s;
  }
.ppt1 a {
  text-decoration: none;
  color: black;
}
.ppt1 img {
  height: 190px;
  width: 250px;
  border-radius: 9px;
}

#a {
  border-radius: 10px;
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  font-weight: 300px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px; 
  padding-bottom: 2px;
  margin-top: 3px;
  font-size: 15px;
  border-radius: 30px;
  border: 2px solid black;
}
#a:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 300px;
}