*{
    margin: 0%;
    padding: 0%;    
}
.sgpa_container 
{
margin-left: 2rem;
margin-right: 2rem;
}
.a{
    color: white;
    animation-name: anchor;
    padding-left: 5px;
    padding-right: 5px;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px;
    display: inline;
    border: solid yellow 2px;
}
@keyframes anchor{
    10%{
        background-color:blue;
        color: white;
    }
    20%{
        background-color:rgb(214, 214, 113) ;
        color: white;
    }
    30%{
        background-color:green ;
        color: white;
    }
    40%{
        background-color:black ;
        color: white;
    }
    50%{
        background-color:white ;
        color: black;
    }
    60%{
        background-color:pink ;
        color: white;
    }
    70%{
        background-color:red ;
        color: white;
    }
    80%{
        background-color:blueviolet ;
        color: white;
    }
    60%{
        background-color:brown ;
        color: white;
    }
    60%{
        background-color:orange ;
        color: white;
    }
    }
.ul{
    font-size: 18px;    
    margin-top:  10px;
    color:var(--secondary-color);
    font-weight: 100;
}
.auto
{
    margin: 20px 0px ;
}
.home
{  display: inline;
   text-decoration: none;
   background-color: black ;
   color: yellow;
   position: absolute;
   padding: 0px 8px;
   margin: 0px 41%;
   border-radius: 8px;
}
@media(max-width:567px)
{
    .a {
        text-decoration: none;
        font-size: 15px;
        margin-right: 10px;
    }
    .ul{
        font-size: 15px;
        /* margin-right:25px; */
        margin-bottom: 2px;
        color: var(--secondary-color);
        text-align:left;
    }
}